@import url('https://fonts.googleapis.com/css?family=Marcellus');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.timer-top {
    text-align: center;
    background: #f6214b;
    color: #fff;
    padding: 15px 0px;
}

.post-content img {
    max-width: 100%;
    height: auto !important;
}

.post-content {
    color: rgba(0,0,0,0.87);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    /*font-family: "Times New Roman", Times, serif;*/
}

.thumb img {
    width: 100px;
    height: 80px;
}

.comment-list .thumb img {
    width: 60px;
    height: 60px;
}