@import url('https://fonts.googleapis.com/css?family=Marcellus');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.latest-post-area {
    margin-top: 40px;
}
.timer-top {
    text-align: center;
    background: #f6214b;
    color: #fff;
    padding: 15px 0px;
}

.post-content img {
    max-width: 90%;
    padding: 10px 0;
    max-width: 100%;
    height: auto !important;
}

.post-content td img {
    padding: 0px;
    max-width: 100%;
    height: auto !important;
}

.post-content {
    color: rgba(0,0,0,0.87);
    font-size: 17px;
    font-family: Arial, sans-serif;
    padding: 10px 0 10px;
    margin-top: 20px;
    border-bottom: 1px solid #dbdbdb;
    /*font-family: "Times New Roman", Times, serif;*/
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    margin: 10px 0;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
}

.post-content table tr {
    border-top: 1px solid #dee2e6;
}

.post-content table tr > td, th {
    padding: .75rem;
}


.post-content table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.thumb img {
    width: 100px;
    height: 80px;
}

.comment-list .thumb img {
    width: 60px;
    height: 60px;
}

.box {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

.box .content {
    background-image: url("/images/bosses/kzarka.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

.box .content .center {
    position: absolute;
    top: 85%; 
    /*height: 50%; */
    width: 100%;
}

.box .content .text {
    opacity: 0.7;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    background-color: #fff;
}

.box .content .center .timer{
    opacity: 0.7;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    background-color: #fff;
}

.section-gap {
    padding: 120px 0 90px 0;
}

.theme-footer {
    text-align: right;
    font-size: 10px;
    right: 10px;
    padding: 0 30px 20px 0;
}

.post-content ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.post-content li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.single-post-wrap .post-meta {
    margin-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.single-post-wrap .post-meta li {
    color: #9f9f9f;
    font-size: 14px;
    padding-bottom: 15px;
}

.post-content p {
    margin-bottom: 15px;
}

.post-content h1 {
    font-size: 24px;
}

.post-content h2 {
    font-size: 22px;
}

.post-content h3 {
    font-size: 20px;
}

.post-content h4 {
    font-size: 18px;
}

.post-content a {
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    color: #ff7700;

}
.post-content a:hover {
    color: #666;
    text-decoration: none;
}

.post-banner li {
    margin: 10px;
}

.editors-pick-post .post-lists .single-post {
    padding: 15px 0px;
    border-bottom: 1px solid #eee !important;
}

b, strong {
    font-weight: bold !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

.logo-top {
    height: 100px;
}